<table border="1" width="100%">
  <thead>
    <tr>
      <th>Nama</th>
      <th>Posisi</th>
      <th>Gaji</th>
      <th>Departemen</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="emp in employees">
      <td>{{ emp.name }}</td>
      <td>{{ emp.position }}</td>
      <td>{{ emp.salary }}</td>
      <td>{{ emp.DepartmentName }}</td>
      <td>
        <a href="#!/employees/edit/{{ emp.id }}">Edit</a>
        <button ng-click="delete(emp.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
